body {
    background-image: url(src/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-size: 14pt;
    font-family: "Monotype Corsiva", monospace;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: gainsboro;
}
footer, header {
    margin: 20px auto;
    width: 1024px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: rgba(48, 48, 48, 0.4);
}
fieldset{
    border: none;
}
textarea {
    resize: none;
    margin: 2px;
    font-size: 12pt;
    width: 238px;
    height: 150px;
}
input {
    padding: 5px;
    margin: 3px;
    font-size: 11pt;
}
input[type='text'] {
    width: 230px;
}
input[type='tel'] {
    width: 230px;
}
input[type='email'] {
    width: 230px;
}
input[type='password'] {
    width: 230px;
}
input[type='submit'] {
    width: 244px;
}
.block_parent {
    margin: 20px auto;
    width: 1044px;
    text-align: center;
}

.clear {
    clear: both;
}

.block_left {
    float: left;
    border-radius: 10px;
    width: 650px;
    padding: 10px;
    background: rgba(48, 48, 48, 0.4);
}

.block_right {
    float: right;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    background: rgba(48, 48, 48, 0.4);
}